# This file is managed by puppet and will be overwritten
# every time puppet runs against the system.
<% mails = scope.lookupvar('sendmail::responsible_email')-%>
<% mails.each do |mail| -%>
<%= mail%>
<% end -%>

